name: appflow build

on:
  push:
    branches: [ "main" ]
    
jobs:
  install_cloud_cli_and_trigger_build:
    runs-on: ubuntu-latest
    steps:
      - name: install cloud cli
        run: curl -fsSL https://ionic.io/get-ionic-cloud-cli | bash

      - name: test cloud cli
        run: which ionic-cloud

      - name: invoke build
        run: ionic-cloud build web --app-id=cfe976ed --commit=$GITHUB_SHA --token=${{ secrets.IONIC_TOKEN }}

  trigger_web_build: 
    name: trigger appflow web build
    runs-on: ubuntu-latest
    steps:
      - name: trigger web build
        uses: ionic-team/appflow-build@v1
        with:
          token: ${{ secrets.IONIC_TOKEN }}
          app-id: cfe976ed
          platform: Web
          
  trigger_ios_build:
    name: trigger appflow ios build
    runs-on: ubuntu-latest
    steps:
      - name: trigger ios build
        uses: ionic-team/appflow-build@v1
        with:
          token: ${{ secrets.IONIC_TOKEN }}
          app-id: cfe976ed
          platform: iOS
          build-type: simulator
          certificate: dev
          environment: dev
          native-config: dev
          
  trigger_android_build:
    name: trigger appflow android build
    runs-on: ubuntu-latest
    steps:
      - name: trigger android build
        uses: ionic-team/appflow-build@v1
        with:
          token: ${{ secrets.IONIC_TOKEN }}
          app-id: cfe976ed
          platform: Android
          build-type: debug
          environment: dev
          native-config: dev
